node_modules
generated/
dist/
.env
.DS_Store
.vscode/
.idea/
*.log
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
apps/hub/prisma/migrations/
apps/hub/src/schema
archived
.turbo/*
# apps/api/prisma/migrations/*
apps/api/scripts/saveresponse.json
apps/api/src/files/*
apps/api/src/keys/*
apps/api/src/socketServer.ts
apps/api/prismas.configs.ts
apps/demo-backend/
apps/hub/prisma/
packages/agent/run-agent.js
packages/sdk/test-tunnel
apps/agentsdead/
apps/api/.env
apps/api/.env.*
apps/hub/.env
apps/hub/.env.*
deploy.md
apps/api/keys/*certbot/
vhyxconfig.md