# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode
